    <artical class="post">
    {% if post %}
        <h2 class="entry_title"><a href="{{ site.blogroot }}{{ post.url }}">{{ post.title }}</a></h2>
        <p class="entry_data">
        <span>作者：nunumick</span>
        <span>发布时间：{{ post.date | date_to_string}}</span>
        {% if post.category %}
        <span class="entry_cate">分类：<a href="{{ site.blogroot }}/categories/{{post.category}}/">{{post.category}}</a></span>
        {% endif %}
        </p>
        <div class="entry_cont">
            {{ post.content }}
        </div>
    {% else %}
        <h2 class="entry_title"><a href="{{ site.blogroot }}{{ page.url }}">{{ page.title }}</a></h2>
		<p class="entry_data">
		<span>作者：nunumick</span>
        <span>发布时间：{{ page.date | date_to_string}}</span>
        {% if page.category %}
        <span class="entry_cate">分类：<a href="{{ site.blogroot }}/categories/{{page.category}}/">{{page.category}}</a></span>
        {% endif %}
		</p>
        <div class="entry_cont">
            {{ content }}
        </div>
    {% endif %}
    </artical>
