/* ------------------------------------
 *  * Typecho Default Theme
 *   *
 *    * @author	fen1211@gmail.com
 *     * @link	http://typecho.net/
 *      * @update	2009-03-29 14:30
 *       * --------------------------------- */

/* ------------------
 *  * gobal settings
 *   * --------------- */
html{
  font-size: 62.5%;
}
body {
  background: #fff;
  color: #444;
  font-size: 1.3rem;
  line-height: 1.7;
  /*font-family: Georgia,Times,"Times New Roman",serif;*/
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

input, textarea { font-family: Helvetica, Arial, sans-serif; font-size: 100%; }

@font-face {
  font-family: 'iconfont';  /* Project id 4466894 */
  src: url('https://at.alicdn.com/t/a/font_4466894_uwlws7bxtdp.woff2?t=1710470015168') format('woff2'),
  url('https://at.alicdn.com/t/a/font_4466894_uwlws7bxtdp.woff?t=1710470015168') format('woff'),
  url('https://at.alicdn.com/t/a/font_4466894_uwlws7bxtdp.ttf?t=1710470015168') format('truetype');
}

input, textarea {
  font-size: 1.3rem;
  padding: 2px;
}

textarea { *padding: 3px; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  textarea { padding: 3px; }
}

a {
  color: #3354AA;
  text-decoration: none;
  /*border-bottom: 1px dotted #3354AA;*/
}
a:hover {
  color: #444;
  border-bottom: none;
}

pre, code, tt {
  /*font: 12px 'andale mono', 'lucida console', monospace; line-height: 1.5;*/
}
pre, code {
  display: block;
  overflow-x: auto;
  padding: 8px 10px;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }

/*code {display: block; border: 1px solid #AAAAAA; background: #F1ECDD; color: #444; line-height: 16px; overflow: auto;
 *	font-family: 'andale mono','lucida console',monospace; padding: 10px; margin: 10px 0;}*/

/* Tables
 * -------------------------------------------------------------- */

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th		{ background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td  { background: #e5ecf9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }

fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; }


ul { list-style-type: disc; }

/* ------------------
 *  * header
 *   * --------------- */

#header {
  color: #666;
  padding: 20px 0;
}

#logo {
}

#logo h1 {
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 0;
}
#logo h1 a {
  color: #444;
  border: none;
}
#logo h1 a:hover {
}

p.description {
  margin-bottom: 0;
  padding:0 0 15px 0;
  font-style: italic;
}

#search {
  float: right;
  margin-top: 30px;
}

/* = header navigation menu */
#nav_box {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  font-family: "Lucida Grande",Tahoma,"Bitstream Vera Sans",Arial,sans-serif;
}

ul#nav_menu {
  height: 30px;
  line-height: 30px;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-left: 1px solid #eee;
}
ul#nav_menu li {
  float: left;
  padding: 0;
  margin: 0;
  height: 30px;
  line-height: 30px;
}
ul#nav_menu li a {
  color: #777;
  border: 1px solid #eee;
  border-bottom: none;
  border-left: none;
  height: 29px;
  line-height: 29px;
  display: block;
  float: left;
  padding: 0 20px;
}

ul#nav_menu li.current a {
  /*background: #fafafa;*/
  color: #fff;
  background: #f92672;
  border: 1px solid #f92672;
}
ul#nav_menu li a:hover {
  text-decoration: underline;
}
ul#nav_menu li.subscribe {
  float:right;
  width:235px;
}
ul#nav_menu li.subscribe a{
  border:none;
  padding:0;
}

/* ------------------
 *  * content
 *   * --------------- */
#content { overflow: hidden; }
#content p { margin-bottom: 20px; }

h2.entry_title {
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
}

h2.entry_title a {
  border: none;
}

.entry_data {
  color: #999;
  font-size: 1.2rem;
}

.entry_data a {
}

.entry_data span {
  margin-right: 4px;
  padding-right: 7px;
  border-right: 1px solid #eee;
}
.entry_data span.entry_cate{
  border:none;
}

.post {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  width: 100%;
  word-break:break-word;
}

.post img {
  max-width: 100%;
}

.post h3,.post h4,.post h5,.post h6 {
  font-weight:700;
  color:#000;
}

.post h3 { font-size: 1.6rem; }
.post h4 { font-size: 1.5rem; }
.post h5 { font-size: 1.4rem; }
.post h6 { font-size: 1.3rem; }

.post strong {
  color:#333;
}

.post ol li ol {
  margin-bottom:0;
}

/* = pages nav */
ol.page-navigator {
  margin: 20px 0 0 0;
  color: #666;
  list-style: none;
  font-size: 1.2rem;
  line-height: 30px;
  font-family: "Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
}

ol.page-navigator li {
  margin: 0 5px 0 0;
  display: inline;
}

ol.page-navigator li a {
  padding: 2px 6px;
  border: 1px solid #eee;
  text-decoration: none;
}

ol.page-navigator li.current a {
  background: #3354AA;
  border-color: #3354AA;
  color: #fff;
}

/* ------------------
 *  * comment list
 *   * --------------- */
#PostComments{
  border-bottom:1px solid #eee;
  font-size:1.6rem;
  margin-bottom:0;
}
#comments {
  margin-top: 20px;
}

#comments h4 {
  font-size: 1.4rem;
  font-weight: bold;
}

ol.comment-list, ol.comment-list ol {
  margin: 0;
  list-style: none;
}

ol.comment-list ol {
  padding-top: 10px;
}

ol.comment-list li {
  margin: 0;
  padding-bottom: 10px;
}

ol.comment-list li {
  padding: 10px 15px;
  margin-top: 10px;
  border: 1px solid #eee;
  background: #FAFAFA;
  overflow: hidden;
}

ol.comment-list li.comment-level-odd {
  background: #fff;
}

ol.comment-list li.comment-level-even {
  background: #FAFAFA;
}

ol.comment-list li.comment-by-author {
  border: 1px dashed #AAA;
}

ol.comment-list li .comment-reply {
  text-align: right;
}

ol.comment-list li .comment-reply a {
  font-size: 1.1rem;
  border: none;
  color: #aaa;
}

ol.comment-list li .comment-reply a:hover {
  color: #444;
}

.comment-meta {
  padding-bottom: 8px;
  /*border-bottom: 1px dashed #eee;*/
  color: #999;
  font-size: 1.1rem;
}
.comment-author {
  display: block;
  font-size: 1.5rem;
  color: #444;
}

.comment-author cite.fn {
  font-style: normal;
}

.comment-body {
  overflow: hidden;
}

img.avatar {
  /*display: none;*/
  float: left;
  margin: 6px 10px 0 0;
}

.respond {
  margin-top: 20px;
}

ol.comment-list li .respond {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

#comment_form {
  padding-right: 8px;
}

.respond .cancel-comment-reply {
  float: right;
  font-size: 1.1rem;
}

.respond .cancel-comment-reply a {
  border: none;
  color: #aaa;
}

.respond .cancel-comment-reply a:hover {
  color: #444;
}

#comment_form label {
  font-size: 1.2rem;
  color: #555;
  display: block;
  font-weight: bold;
}

#comment_form label .required {
  color: #C04E37;
  padding-left: 5px;
  font-size: 1.4rem;
}
#comment_form .text {
  width: 100%;
  margin-right: 15px;
}
#comment_form textarea {
  width: 100%;
  height: 180px;
}

ol#comment_list li .respond .text {
  _width: 400px;
}

ol#comment_list li .respond textarea {
  _width: 400px;
}

/* ------------------
 *  * sidebar
 *   * --------------- */
#sidebar {
  overflow: hidden;
}
.widget {
  margin: 0 0 20px 0;
}
.widget h3 {
  font-size: 1.6rem;
  margin-bottom: 5px;
}
.widget ul {
  margin: 0;
  padding-left:13px;
  list-style-type: none;
}
.widget ul li {
  margin: 0;
  padding: 0;
  line-height: 24px;
  list-style: square outside;
}
.widget ul li::marker {
  color:#f92672;
}

/* ------------------
 *  * footer
 *   * --------------- */
#footer {
  margin-top: 15px;
  padding: 15px 0;
}

#footer a {
  border-bottom: none;
}

#footer a i{
  font-family: "iconfont";
  font-style:normal;
  vertical-align:bottom;
  font-size:2.0rem;
  color:#f92672;
  line-height:23px;
}

.powered-by,.beian{
  display:inline;
}

.icp i:before {
  content: "\e601";
}

.security i:before {
  content: "\e608";
  font-size:1.5rem;
  color:transparent;
  background:url(https://img.alicdn.com/imgextra/i2/O1CN0185atxl21LObnbzfiX_!!6000000006968-2-tps-20-20.png) 0 0 no-repeat;
  background-size:cover;
}

.footnotes li p {
  margin-bottom:0 !important;
}

/* -----------------
 *  * misc
 *   *--------------- */
.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img.alignleft { margin: 4px 15px 0 0; }
img.alignright { margin: 4px 0 0 15px; }

.alt {
  color: #666;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-weight: normal;
}

.site-tags li{
  *zoom:1;
  display:inline-block;
  border:1px solid #ccc;
  margin: 3px 4px 3px 0;
}
.site-tags li a{
  color:#949494;
  padding:0 5px;
  display:block;
  height:24px;
  line-height:24px;
}
.site-tags li a:hover{
  color:#999;
  background:#f1f1f1;
}

/* for phone */
@media screen and (max-width:840px){
  body{
    padding:0 20px;
  }
  .container_16 {
    width:auto;
  }
  .container_16 .grid_10, .container_16 .grid_12 {
     width: auto;
     float:none;
     padding:0;
  }
  .container_12 .grid_3, .container_16 .grid_4, .subscribe, .fork-me {
     display:none;
  }
  .post img{
    width:100%;
    max-width:100%;
  }
  .post a {
    word-break:break-all;
  }

  #footer{
    width:auto;
    font-size:1.2rem;
  }
  #footer .powered-by, #footer .beian{
    display:block;
    white-space:nowrap;
  }
  #footer .divider{
    display: none;
  }
}
